.market {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
	.market_top {
		grid-area: 1 / 2 / 2 / 3;
		border: 2px solid blue;
	}
	.sidebar {
		grid-area: 1 / 1 / 3 / 2;
	}
	.main {
		grid-area: 2 / 2 / 3 / 3;
		padding: 50px;
		border: 2px solid purple;
	}
}

@media (max-width: 1240px) {
	.market {
		grid-template-columns: minmax(auto, calc((1vh + 1vw) * 15)) 1fr;
	}
}

@media (max-width: 780px) {
	.market {
		display: flex;
		flex-direction: column;
	}
	.sidebar {
		position: absolute;
		top: 0;
		left: -100vw;
		z-index: 10;
		transition: all 0.4s ease;
		&.active {
			background: linear-gradient(#063652 25%, #000f17 100%);
			width: calc((1vh + 1vw) * 27.5);
			height: auto;
			padding: 50px 25px 0 25px;
			left: 00px;
			top: 0;
		}
	}
}

@media (max-width: 480px) {
	.sidebar {
		&.active {
			width: calc((1vh + 1vw) * 32.5);
			padding: 40px 20px 0 20px;
			left: 00px;
			top: 0;
		}
	}
}