.footer {
	margin-top: 60px;
	background: #1E1F28;
}

.footer_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	gap: 30px;
}

.footer_list {
	display: flex;
	align-items: center;
	gap: 75px;
	a {
		color: #E9DEC3;
	}
}

.footer_social {
	display: flex;
	gap: 16px;
	align-items: center;
	.footer_social_link {
		svg {
			transition: all 0.3s ease;
		}
		&.stroke {
			fill: transparent;
		}
		&:hover {
			svg {
				fill: #F25AC9;
			}
			&.stroke {
				svg {
					fill: transparent;
					stroke: #F25AC9;
				}
			}
		}
	}
}

.copyright {
	display: block;
	padding: 16px 0;
	text-align: left;
	p {
		color: #919094;
		font-size: 0.6rem;
		font-family: 'Poppins', system-ui, sans-serif;;
		font-weight: 500;
	}
}

@media (max-width: 1240px) {
	.footer {
		margin-top: 40px;
	}
	.footer_top {
		padding: 20px 0;
		gap: 20px;
	}
	.footer_list {
		gap: 40px;
	}
	.footer_social {
		svg {
			width: 28px;
		}
	}
}

@media (max-width: 780px) {
	.footer_top {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
		gap: 10px;
	}
	.footer_list {
		gap: 30px;
		a {
			font-size: 0.9rem;
		}
	}
}

@media (max-width: 480px) {
	.footer_top {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
		gap: 10px;
	}
	.footer_list {
		align-items: center;
		gap: 20px;
		a {
			font-size: 0.65rem;
			img {
				width: 15px; height: auto;
			}
		}
	}
	.footer_social {
		svg {
			width: 20px;
		}
	}
}