@import url('https://fonts.googleapis.com/css?family=Odibee+Sans:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap');

@font-face {
    font-family: 'b Biger Over';
    src: url('./fonts/bBigerOver.woff2') format('woff2'),
        url('./fonts/bBigerOver.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

